
.box {
	width: 280px;
	height: 140px;
	margin: 20px;
}

.bigBox {
	margin: 40px;
}

.infoBox {
	display: flex;
	flex-direction: column;
}

.details {
	width: 280px;
	text-align: center;
	align-items: center;

}

.gitDetails {
	text-align: center;
	font-weight: 500;
}

@media screen and (min-width: 600px) {
	.infoBox {
		flex-direction: row;
	}

	.box {
		width: 400px;
		height: 200px;
	}

	.boxes {
		padding-left: 100px;
	}
}