
.box {
	/* background-image: url('/src/assets/Felp.png'); */
	/* background-size: cover; */
	width: 400px;
	height: 200px;
	/* background-repeat: no-repeat; */
	margin: 20px;
}

.bigBox {
	margin: 40px;
}

.infoBox {
	display: flex;
	flex-direction: row;
}

.details {
	width: 500px;
	text-align: center;
}

.boxes {
	padding-left: 50px;
}

.gitDetails {
	text-align: center;
	font-weight: 500;
}