
.foot {
	display: flex;
	/* flex-direction: row; */
	justify-content: center;
	align-items: center;
	/* border-top: 10px solid black; */
}

.foot-icons {
	background-size: 40px;
	background-repeat: no-repeat;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	width: 30px;
	height: 30px;
	padding: 20px 20px;
	margin-top: 20px;
}

/* .animate__animated {
  --animate-duration: 2s;
} */