.navLists {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navList {
    margin: 10px 80px;
    text-decoration: none;
}

.navList:visited {
    text-decoration: none;
    color: white;
}

.navLink {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 20px;
}

.navLink:hover {
    color: rgb(0, 174, 255);
    background-color: rgb(17, 50, 87);
    font-weight: 500;
    font-size: 20px;
    border: solid black 1px;
    border-radius: 12px;
    padding: 3px;
}